/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

/*Body*/

.body {
    font-family: 'Crimson Text', serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*Text*/

.bodyText {
  flex: 1;
  padding: 20px;
}

/*Footer*/

.mediaIcon {
  display: inline-block;
}

.mediaIcon img{
  margin: 10px 25px auto;
  height: 70px;
}

.mediaIcon figcaption {
  color: #262626;
}

.footer {
  background-color: whitesmoke;
  padding: 20px;
}



